@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    background-color: #003da0;
}

/* Menu styles */
#menu {
    height: 100%;
    text-align: center;
    color: white;
}

#menu > div {
    height: 100%;
}

#menu > div > .message {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/* Dozer Logo */
h1 {
    height: 5vh;
    margin: 30pt;
    padding: 0pt;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.button-box {
    padding: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.button-box button {
    width: 100%;
    position: relative;
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-size: 3vh;
    color: white;
}

.tap-me {
    font-size: 5vh;
    opacity: 0.3;
}

.button-box .lower-bottom-button {
    background-color: #99ccff;
}

.button-box .upper-bottom-button {
    background-color: #6666ff;
}


.button_level_clickable {
    background-color: aqua;
}

.button_level_greyed_out {
    background-color: #6666ff;
}

.highscore {
    font-size: xx-large;
}

.choose-level-wrapper {
    width: 100%;
    height: 70vh;
    float: none;
    overflow: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.choose-level-wrapper .choose-level {
    float: left;
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    border-radius: 3vw;

    background-color: darkgrey;
    color: white;
    font-size: large;
}

.choose-level-wrapper .choose-level.reached {
    background-color: aqua;
}

/* Donate Button */

.donate-text {
    bottom: 20vh;
    position: absolute;
    padding-right: 10%;
}

#donate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5vh;
}
#donate-button img {
    margin: 0;
    height: 5vh;
}

/* Inside a level */
#lane {
    width: 100%;
    height: 100%;
    border: 0px solid black;
}

/* Visual Bar */
.visual-bar {
    display: flex;
    align-items: center;
    height: 5vh;
}

.visual-bar .progress-bar {
    z-index: 1;
    margin: auto;
}

.visual-bar .progress-bar .level {
    height: 4vh;
    width: 4vh;
    float: left;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 0.5vh;
    background-color: green;
    justify-content: center;
    font-size: x-large;
    border: 1px solid black;
}

.visual-bar .progress-bar progress {
    width: 50vw;
    background-color: grey;
    color: green;
    height: 3vh;
    float: left;
    margin-top: 0.5vh;
    border: 0;

    /* Disable default style */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Color for the progress part of the progress element */
.visual-bar .progress-bar progress::-moz-progress-bar { background: green; }
.visual-bar .progress-bar progress::-webkit-progress-value { background: green; }

.visual-bar .countdown {
    position: absolute;
    right: 0px;
    color: white;
    padding-right: 5vw;
    font-size: 3vw;
}

.entity {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dozer {
    width: 30px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 50%;
}

.brick {
    width: 24%;
    height: 10%;
    background-color: aquamarine;
    border: 0px solid black;
    font-size: 5vh;
}

.dot {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 3vh;
}

.barrier {
    background-color: white;
}

/* Power Up Styles */
.powerup {
    width: 40px;
    height: 40px;
    background-color: red;
    color: gold;
    border-radius: 50%;
}

.doubleup:before {
    content: "✌";
}

.drill:before {
    content: "★";
}

.drill {
    font-size: larger;
}

.slowdown:before {
    content: "⌛";
}

.slowdown {
    font-size: small;
}

/* Brick colors */
.c1 {
    background-color: #99ccff;
}

.c2 {
    background-color: #6699ff;
}

.c3 {
    background-color: #6666ff;
}

.c4 {
    background-color: #9966ff;
}

.c5 {
    background-color: #9933ff;
    animation-name: shiny;
    animation-duration: 2s;
}

@keyframes shiny {
    0%   {background-color: #9933ff;}
    75%  {background-color: red;}
    100% {background-color: #9933ff;}
}

/* Power up styles for dozer */

/* Rainbow Animation for Drill*/
.has-drill {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 2s ease infinite;
    -z-animation: rainbow 2s ease infinite;
    -o-animation: rainbow 2s ease infinite;
    animation: rainbow 2s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* Animation for DoubleUp */