@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    background-color: rgb(31, 96, 255);
}

/* Menu styles */
#menu {
    height: 100%;
    text-align: center;
    color: white;
}

#menu > div {
    height: 100%;
}

#menu > div > .message {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    margin: 30pt;
    padding: 0pt;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.button-box {
    padding: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.button-box button {
    width: 100%;
    position: relative;
    float: left;
}

.button_level_clickable {
    background-color: aqua;
}

.button_level_greyed_out {
    background-color: #6666ff;
}

.highscore {
    font-size: xx-large;
}


/* Inside a level */

#lane {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px solid black;
}

.entity {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dozer {
    width: 30px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 50%;
}

.brick {
    width: 24%;
    height: 10%;
    background-color: aquamarine;
    border: 0px solid black;
}

.dot {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.c1 {
    background-color: #99ccff;
}

.c2 {
    background-color: #6699ff;
}

.c3 {
    background-color: #6666ff;
}

.c4 {
    background-color: #9966ff;
}

.c5 {
    background-color: #9933ff;
}
